.top-bar {
  height: 60px;
  padding: 15px;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  width: 100%;
}

.right {
  min-width: 76%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.top-bar .right .search-container {
  width: 350px;
  height: 80%;
  background: #ffffff;
  padding: 10px;
}

.top-bar .right .search-container > input {
  width: 70%;
  height: 20%;
}

.top-bar .right .search-container .serach-img {
  width: 50px;
  height: 100%;
  /* background: #868686; */
}

.top-bar .right .search-container .serach-img > img {
  width: 80%;
  height: 80%;
  color: white;
}

.profile-container {
  display: flex;
  cursor: pointer;
}

.profile-container .dropdown {
  top: 50%;
  right: 0px;
  margin-left: 10px;
}

.sidebar {
  width: 70px;
  height: calc(100vh - 50px);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  box-sizing: border-box;
  border-radius: 24px;
  margin: auto 0;
}

.item {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #e8f0f5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 0px;
}

.top > img {
  width: 73px;
  height: 73px;
  top: 71px;
  left: 54px;
  cursor: pointer;
}

.bottom > img {
  width: 73px;
  height: 73px;
  top: 71px;
  left: 54px;
  cursor: pointer;
}

.leftSidebar {
  width: 329px;
  height: 95%;
  border-radius: 20px;
  border: 0.5px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.dua-container {
  height: 100%;
  background: #ffffff;
}

.leftSidebar .top {
  display: flex;
  flex-direction: column;
}

.leftSidebar .top .title {
  width: 100%;
  height: 57px;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1fa45b;
  color: white;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 10px auto;
  box-sizing: border-box;
}

.search-container:hover {
  border: 1px solid green;
}

.search-icon {
  margin-right: 8px;
}

.search-input {
  flex: 1;
  border: none !important;
  padding: 8px;
  font-size: 16px;
  margin: 10px;
  outline: none;
}

.rightSidebar {
  width: 280px;
  min-height: 70%;
  top: 133px;
  left: 1550px;
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
}

.setting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.rightSidebar .right-sidebar-item {
  width: 80%;
  display: flex;
  margin: 20px auto;
  background: #f7f8fa;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.rightSidebar .desc {
  margin-left: 20px;
}

.night-mode {
  width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  /* background: red; */
}

.night-text {
  max-width: 50%;
}

.toogle {
  max-width: 50%;
  display: flex;
  align-items: center;
  margin: 10px auto;
  position: relative;
}

.circle {
  z-index: 2;
  width: 22px;
  height: 22px;
  background: #c1c1c1;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}

.cylender {
  width: 35px;
  height: 15px;
  z-index: 1;
  background: #d8d7d7;
  position: absolute;
  border-radius: 20%;
}

@media screen and (max-width: 768px) {
  .rightSidebar,
  .sidebar,
  .top-bar .right .search-container {
    display: none;
  }

  .page {
    display: block;
    position: relative;
  }

  .dua-container {
    position: absolute;
    z-index: 1;
  }

  .top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }

  .top-bar .left {
    width: 50%;
  }

  .top-bar .right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 868px) {
  .sidebar,
  .rightSidebar {
    display: none;
  }
}
